@import 'tailwindcss';

@theme {
	--color-brand-50: #eef2ff;
	--color-brand-500: #6366f1;
	--color-brand-600: #4f46e5;
}

html,
body {
	height: 100%;
}

* {
	-webkit-tap-highlight-color: transparent;
}
